*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.site-header {
    text-align: center;
    padding: 15px;
}

.section {
    padding: 15px;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.color-item {
    background-color: white;
    border: 20px;
    border-style: solid;
    border-color: black;
    margin-bottom: 15px;
    padding: 15px;
}
